.popup-mask {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 99;
    animation: appear .3s;
    .popup-board {
        height: 100vh;
        width: 40vw;
        margin-left: 30vw;
        position: relative;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        .popup-close-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            height: 30px;
            width: 30px;
            background-color: rgba(0, 0, 0, .3);
            cursor: pointer;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                height: 16px;
                width: 16px;
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}