.hello-block {
    display: flex;
    width: calc(60vw + 20px);
    justify-content: space-between;
    align-items: center;
}

.input-label {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #ecf0f3;
    box-shadow: 5px 5px 10px 0 #d1d9e6 inset, -5px -5px 10px 0 #fff inset;
}
.search-input-box {
    margin: 20px 0 0;
    position: relative;
    .search-input {
        min-width: 50vw;
    }
    .search-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        width: 80px;
        border-radius: 15px;
        box-shadow: 5px 5px 10px 0 #d1d9e6, -5px -5px 10px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        cursor: pointer;
        svg {
            height: 20px;
            width: 20px;
        }
    }
}

.left-block {
    height: 100vh;
    width: 40vw;
    display: inline-block;
    vertical-align: top;
    .profile-box {
        box-sizing: border-box;
        padding-top: 20px;
        color: #333;
        font-size: 14px;
        .name-block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .quit {
                height: 30px;
                width: 80px;
                color: #fb3640;
                line-height: 30px;
                text-align: center;
                border-radius: 15px;
                cursor: pointer;
                box-shadow: 5px 5px 10px 0 #d1d9e6, -5px -5px 10px 0 #fff;
                &:hover {
                    color: #cf0000;
                }
            }
        }
        .register-tip {
            margin: 20px 0;
        }
        .fix-psd {
            width: 100%;
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            span {
                font-weight: 500;
            }
            .fix-psd-input {
                width: 25vw;
                height: 40px;
                box-shadow: 3px 3px 5px 0 #d1d9e6 inset, -3px -3px 5px 0 #fff inset;
            }
            .fix-psd-button {
                position: absolute;
                top: 0;
                right: 0;
                height: 30px;
                width: 80px;
                border-radius: 15px;
                box-shadow: 3px 3px 5px 0 #d1d9e6, -3px -3px 5px 0 #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
                cursor: pointer;
            }
        }
    }
    .upload-box {
        min-height: 150px;
        .product-name,
        .product-describ {
            height: 40px;
            line-height: 40px;
            margin: 10px 0;
        }
        .product-describ {
            height: 120px;
            resize: none;
            line-height: 24px;
            box-sizing: border-box;
            padding: 10px 20px;
        }
        .upload-bottom {
            width: 100%;
            font-size: 14px;
            color: #333;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .upload-file {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                span {
                    margin-left: 10px;
                    max-width: 10vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .upload-btn,
            .mock-input-file {
                height: 30px;
                width: 80px;
                text-align: center;
                align-items: center;
                border-radius: 20px;
                line-height: 30px;
                cursor: pointer;
                box-shadow: 3px 3px 5px 0 #d1d9e6, -3px -3px 5px 0 #fff;
            }
            .input-file {
                height: 30px;
                width: 80px;
                border-radius: 20px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                cursor: pointer;
            }
        }
        .upload-status-box {
            height: 300px;
            width: 400px;
            .uploading-box,
            .upload-success-box {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
            }
            .uploading-box {
                .progress-box {
                    height: 4px;
                    width: 100%;
                    border-radius: 2px;
                    background: #bdc7c9;
                    .progress {
                        height: 4px;
                        transition: all .3s;
                        width: 0;
                        border-radius: 4px;
                        background: #16c79a;
                    }
                }
            }
            .upload-success-icon {
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    height: 60px;
                    width: 60px;
                }
            }
            .upload-success-tip {
                font-size: 16px;
                color: #333;
            }
        }
    }
}
.right-block {
    height: 100vh;
    width: 60vw;
    display: inline-block;
    vertical-align: top;
    .search-block {
        width: 100%;
    }
    .right-left-block,
    .right-right-block {
        display: inline-block;
        vertical-align: top;
        min-width: 10vw;
    }
    .right-left-block {
        .product-list-box {
            min-height: 350px;
            overflow-y: auto;
            .no-product-tip {
                height: 100%;
                min-height: 350px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #333;
            }
            .product {
                margin: 15px 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .product-content {
                    width: 60%;
                    .product-name {
                        font-size: 14px;
                        color: #333;
                        font-weight: 400;
                        width: 100%;
                    }
                }
                .product-desc {
                    font-size: 12px;
                    color: #666;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .block-green-status,
                .block-yellow-status {
                    font-size: 12px;
                    height: 30px;
                    width: 100px;
                    border-radius: 15px;
                    vertical-align: middle;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 6px;
                    span {
                        height: 4px;
                        width: 4px;
                        border-radius: 2px;
                        margin-right: 4px;
                    }
                }
                .block-green-status {
                    span {
                        background: #16c79a;
                    }
                    cursor: pointer;
                    box-shadow: 3px 3px 5px 0 #d1d9e6, -3px -3px 5px 0 #fff;
                }
                .block-yellow-status {
                    span {
                        background: #eb5e0b;
                    }
                    box-shadow: 3px 3px 5px 0 #d1d9e6 inset, -3px -3px 5px 0 #fff inset;
                }
            }
            .more-product {
                height: 40px;
                width: 100%;
                font-size: 12px;
                color: #333;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        .popup-product-list {
            width: 80%;
            max-height: 90%;
            overflow-y: auto;
            .product {
                .block-green-status,
                .block-yellow-status {
                    font-size: 12px;
                    height: 30px;
                    width: 100px;
                    border-radius: 15px;
                    vertical-align: middle;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 6px;
                    box-shadow: none;
                    span {
                        height: 4px;
                        width: 4px;
                        border-radius: 2px;
                        margin-right: 4px;
                    }
                }
                .block-green-status {
                    border: 1px solid #000;
                }
            }
        }
        .product-info-box {
            max-height: 90%;
            width: 70%;
            overflow-y: auto;
            .product-name {
                font-size: 22px;
                color: #000;
                font-weight: 500;
                line-height: 40px;
            }
            .product-desc {
                line-height: 24px;
                font-size: 16px;
                color: #666;
            }
            .product-info-line {
                margin: 15px 0;
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .info-label {
                    color: #0f1123;
                }
                .info-value {
                    color: #a98b98;
                }
            }
            .user-color {
                color: #1687a7!important;
            }
            .version-color {
                color: #351f39!important;
            }
            .height-color {
                color: #0a043c!important;
            }
        }
    }
    .right-right-block {
        .history-box {
            min-height: 350px;
            .example-tip {
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .example {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .example-point {
                        height: 10px;
                        width: 10px;
                        border-radius: 5px;
                        margin-right: 4px;
                    }
                    .example-describ {
                        font-size: 12px;
                        color: #333;
                    }
                }
            }
            .action-list {
                box-sizing: border-box;
                padding: 0 20px;
                overflow-y: auto;
                max-height: 90%;
                .action {
                    height: 40px;
                    width: 100%;
                    position: relative;
                    line-height: 40px;
                    box-sizing: border-box;
                    padding-left: 20px;
                    font-size: 12px;
                    color: #333;
                    .top-line,
                    .bottom-line {
                        height: 20px;
                        width: 1px;
                        position: absolute;
                        left: -0.5px;
                        background-color: #999;
                    }
                    .top-line {
                        top: 0;
                    }
                    .bottom-line {
                        bottom: 0;
                    }
                    .action-color {
                        position: absolute;
                        left: -5px;
                        top: 15px;
                        height: 10px;
                        width: 10px;
                        border-radius: 5px;
                    }
                    span {
                        color: #51c4d3;
                    }
                }
                .more-action {
                    height: 40px;
                    width: 100%;
                    font-size: 12px;
                    color: #333;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &::before {
                        content: '';
                        height: 40px;
                        width: 1px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-image: linear-gradient(to bottom, #999 0%, #999 50%, transparent 50%);
                        background-size: 1px 10px;
                        background-repeat: repeat-y;
                    }
                }
            }
        }
    }
}

